body {
  padding-top: 80px;
}


.container-small {
  max-width: 600px;
}

.text-center {
  text-align: center;
}

.button {
  border-color: #fff;
  color: black;
}

a {
  color: $black;
}

/**
 * Section
 */
